h1{
    user-select: none;
}

.scrolltoo{
    background: #212529;
    border: 3px #212529;
    color: rgba(230, 191, 66, 0.452);
}

.scrolltoo:hover{
    /* LIKE THIS ONE ALOT */
    /* color: #ff7a59;
    border: #ff7a59 solid 1px;
    background:#fff; */
    /* -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); */
    /* THIS ONE COOL TOO */
    border: 3px rgba(230, 191, 66, 0.452);
    color: #f8f9fa;
    background: rgba(230, 191, 66, 0.452);
    cursor: pointer;
    user-select: none;
}

.aboutMe{
    background: rgba(230, 191, 66, 0.452);
}

.cMe{
    background: rgba(230, 191, 66, 0.452);
    color: #212529;
    user-select: none;
}
.cMe:hover{
    background: #212529;
    color: rgba(230, 191, 66, 0.452);
    cursor: pointer;
    user-select: none;
}


a{
    color: #212529;
}

a:hover{
    color: rgba(230, 191, 66, 0.452);
    background: #212529;
    cursor: pointer;
    user-select: none;
}

.abtImg{
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding:10px;
    background:#212529;
    margin-bottom:30px;
}